<!--The content below is only a placeholder and can be replaced.-->
<div class="heading">
  <h1>
    {{framework}} Rocks
  </h1>
</div>
<div class="counter-container">
  <button mat-fab color="primary" (click)="increment()" aria-label="Increment counter">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  <div id="value" class="counter">{{count}}</div>
  <button mat-fab color="warn" (click)="decrement()" aria-label="Decrement counter">
    <fa-icon [icon]="faMinus"></fa-icon>
  </button>
</div>